<div class="contextual">
  <%= link_to_if_authorized l(:label_operation_new), {:controller => "operations", :action => "new", :project_id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_operation_plural) %></h2>

<div class="filters">
  <%= form_tag({:contoller => "operations", :action => "index"}, :method => :get,  :id => "query_form") do %>
    <%= hidden_field_tag('project_id', @project.to_param) if @project %>
    <% no_filters = params[:category_id].blank? && params[:period].blank? && params[:cotact_id].blank? && params[:account_id].blank? %>

  <fieldset id="filters" class="collapsible <%= 'collapsed' if no_filters %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= 'display: none;' if no_filters %>">
      <p>
        <span class="filter-condition">
          <%= label_tag l(:label_operation_category) + " "  %>
          <%= select_tag :category_id, options_for_select(operation_categories_for_select(params[:category_id])), :include_blank => true %>
        </span>
        <span class="filter-condition">
          <%= label_tag l(:label_operation_date) + " "%>
          <%= select_tag :period, options_for_period_select(params[:period]) + options_for_select([[l(:label_crm_last_year), 'last_year']], params[:period]), :include_blank => true %>
        </span>

        <span class="filter-condition">
          <%= label_tag l(:label_contact) + " "  %>
          <%= select_tag :contact_id, options_for_select(contacts_for_select(@project), params[:cotact_id]), :include_blank => true %>
        </span>

        <% if @project %>
        <span class="filter-condition">
          <%= label_tag l(:label_account) + " "  %>
          <%= select_tag :account_id, options_for_select(accounts_for_select, params[:account_id]), :include_blank => true %>
        </span>
        <% end %>
      </p>

    </div>
  </fieldset>
  <p class="buttons hide-when-print">
      <%= link_to l(:button_apply), "#", :onclick=>"$('#query_form').submit()", :class => 'icon icon-checked' %>
      <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
  </p>
  <% end %>

</div>


<div id="contact_list" class="operation_list">
<% if @operations.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
    <%= render :partial => 'list' %>
    <p class="pagination"><%= pagination_links_full @operations_pages, @operations_count %></p>
<% end %>
</div>
<%= context_menu url_for( {:controller => "operations", :action => "context_menu"} )%>

<% content_for :sidebar do %>
  <%= render :partial => 'accounts/stat' %>
<% end %>

<% html_title l(:label_operation_plural) %>


<% content_for :header_tags do %>
  <%= stylesheet_link_tag :finance, :plugin => 'redmine_finance' %>
  <%= stylesheet_link_tag :contacts, :plugin => 'redmine_contacts' %>
  <meta name = "format-detection" content = "telephone=no">
<% end %>

