
<div class="contextual">
<%= link_to l(:label_cms_page_new), new_page_path, :class => 'icon icon-add' %>
</div>

<h3><%=l(:label_cms_page_plural)%></h3>

<div class="autoscroll">
<table class="list">
  <thead><tr>
    <th><%= l(:label_cms_page_name) %></th>
    <th><%= l(:label_cms_page_title) %></th>
    <th></th>
  </tr></thead>
  <tbody>
<% page_tree(@pages) do |page, level| -%>    
  <tr class="page project <%= cycle("odd", "even") %> <%= %w(disabled active)[page.status_id] %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
  <td class="name"><span><%= link_to h(page.name), edit_page_path(page) %></span></td>
  <td class="title"><%= page.title %></td>
    <td class="buttons">
      <%= change_page_status_link(page) %>
      <%= link_to l(:button_duplicate), {:controller => 'pages', :action => 'new', :copy_from => page }, :class => 'icon icon-duplicate' %>
      <%= delete_link page_path(page, :back_url => pages_path(params)) %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
</div>