<%= form_tag({:controller => 'pages_parts',
                            :action => 'create',
                            :page_id => @page},
                 :remote => true,
                 :method => :post,
                 :id => 'new-part-form') do |f| %>

            <p><%= select_tag :part_id, parts_option_for_select, :prompt => "--- #{l(:actionview_instancetag_blank_option)} ---" %>

            <%= submit_tag l(:button_add) %>
                <%= link_to l(:button_cancel), {}, :onclick => "$('#new-part-form').hide(); return false;" %>
<% end %>
<% if @pages_parts.any? %>
<table class="list">
  <thead><tr>
    <th><%= l(:label_cms_part_name) %></th>
    <th style="width:15%;"><%= l(:label_cms_part_content) %></th>
    <th style="width:15%;"></th>
    <th style="width:10%;"> </th>    
  </tr></thead>
  <tbody>
<% previous_group = false %>
<% @pages_parts.each do |pages_part| -%>
    <% if pages_part.part.part_type != previous_group %>
      <% reset_cycle %>
      <tr class="group open">
        <td colspan="4">
          <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
          <%= pages_part.part.part_type.blank? ? 'None' : pages_part.part.part_type %> 
          <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}", "toggleAllRowGroups(this)", :class => 'toggle-all') %>
        </td>
      </tr>
      <% previous_group = pages_part.part.part_type %>
    <% end %>
  <tr class="part <%= cycle("odd", "even") %>" id="page_part_<%= pages_part.id %>">
    <td class="name"><%= link_to h(pages_part.part.name), edit_part_path(pages_part.part) %></td>
    <td class="type" align="center"><%= pages_part.part.content_type %></td>
    <td><%= cms_reorder_links('pages_part', {:controller => 'pages_parts', :action => 'update', :id => pages_part}, :put) %></td>
    <td class="buttons">
      <%= cms_change_status_link('pages_part', pages_part) %>
      <%= link_to image_tag('link_break.png'),
                                    {:controller => 'pages_parts', :action => 'destroy', :id => pages_part},
                                    :remote => true,
                                    :method => :delete,
                                    :data => {:confirm => l(:text_are_you_sure)},
                                    :title => l(:label_part_delete) %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
<% end %>



