<div class="contextual">   
  <%= link_to l(:button_duplicate), {:controller => 'pages', :action => 'new', :copy_from => @page }, :class => 'icon icon-duplicate' %>
  <%= link_to l(:button_delete), {:controller => 'pages', :action => 'destroy', :id => @page}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
</div>

<h2><%= link_to l(:label_cms_page_plural), pages_path %> &#187; <%=l(:label_cms_page)%> <%= link_to page_path(@page), page_url(@page) %></h2>

<%= error_messages_for 'page' %>

<% edit_page_tabs = [{:name => 'edit', :partial => 'edit', :label => :label_cms_page},
        {:name => 'page_parts', :partial => 'page_parts', :label => :label_cms_part_plural}
        ]   %>   

<%= render_tabs edit_page_tabs %>