<% if @order.lines.any? %>
<table class="list product-lines">
<thead>
<tr>
  <th>#</th>
  <th><%= l(:label_products_item) %></th>
  <th><%= l(:label_products_quantity) %></th>
  <% if @order.has_taxes? %>
  <th><%= l(:label_products_line_tax) %></th>
  <% end %>
  <% if @order.has_discounts? %>
  <th><%= l(:label_products_line_discount) %></th>
  <% end %>
  <th class="price"><%= l(:label_products_price) %></th>
  <th class="total"><%= l(:label_products_total) %></th>
</tr>
</thead>
<% @order.lines.each do |line| %>
  <tr class="line-data <%= cycle('odd', 'even') %>">
    <td class="position"><%= line.position %></td>
    <td class="item">
      <% if line.product %>
        <%= product_tag(line.product, :size => 32, :type => (line.product.image.blank? ? 'plain' : '') ) %>
        <% unless line.description.blank? %>
          <br>
          <em class="info"><%= line.description %></em>
        <% end %>
      <% else %>
        <%= line.description %>
      <% end %>
    </td>
    <td class="quantity">x<%= line.quantity %></td>
    <% if @order.has_taxes? %>
    <td class="tax"><%= line.tax_to_s %></td>
    <% end %>
    <% if @order.has_discounts? %>
    <td class="discount"><%= line.discount_to_s %></td>
    <% end %>
    <td class="price"><%= line.price_to_s %></td>
    <td class="total_price"><%= line.total_to_s %></td>
  </tr>
<% end %>
<tr class="total delimiter"><th></th></tr>
<% total_colspan = 4 + @custom_fields_count.to_i + (@order.has_taxes? ? 1 : 0) + (@order.has_discounts? ? 1 : 0) %>
<tr class="total">
  <th colspan="<%= total_colspan %>" class="total"><%= l(:label_products_units_total) %>:</th>
  <th class="total_units"><%= @order.total_units %></th>
</tr>
<% if @order.has_taxes? %>
<tr class="total">
  <th colspan="<%= total_colspan %>" class="total"><%= l(:label_products_subtotal) %>:</th>
  <th class="subtotal_amount"><%= @order.subtotal_to_s %></th>
</tr>
<tr class="total">
  <th colspan="<%= total_colspan %>" class="total"><%= l(:label_products_tax_total) %>:</th>
  <th class="tax_amount"><%= @order.tax_amount_to_s %></th>
</tr>
<% end %>
<tr class="total">
  <th colspan="<%= total_colspan %>" class="total"><%= l(:label_products_total) %>:</th>
  <th class="total_amount"><%= @order.amount_to_s %></th>
</tr>


</table>
<% end %>
