<div class="contextual">
  <%= link_to l(:label_products_order_new), {:controller => 'orders', :action => 'new', :project_id => @project || Order.allowed_target_projects.first }, :class => 'icon icon-add' if User.current.allowed_to?({:controller => 'orders', :action => 'new'}, @project, {:global => true}) && Order.allowed_target_projects.any? %>

</div>

<% html_title(@query.new_record? ? l(:label_order_plural) : @query.name) %>

<%= form_tag({ :controller => 'orders', :action => 'index', :project_id => @project }, :method => :get, :id => 'query_form') do %>

    <script type="text/javascript">
       jQuery(function($) {
          // when the #search field changes
          $("#search").observe_field(2, function() {
            var form = $("#query_form"); // grab the form wrapping the search bar.
            var url = form.attr("action");
            var formData = form.serialize();
            $.get(url, formData, function(data) { // perform an AJAX get, the trailing function is what happens on successful get.
                $("#contact_list").html(data); // replace the "results" div with the result of action taken
            });
          });
        });
    </script>

    <h2 class="contacts_header">
        <span id='scope_header' class="scope_title">
        <%= @query.new_record? ? l(:label_order_plural) : h(@query.name)  %>
        </span>

        <span class="live_search">
            <%= text_field_tag(:search, params[:search], :autocomplete => "off", :class => "live_search_field", :placeholder => l(:label_crm_contact_search) ) %>

        </span>

    </h2>
<%= hidden_field_tag 'set_filter', '1' %>
<div id="query_form_content" class="hide-when-print">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
        <% if orders_list_style == 'list' %>
        <tr>
          <td><%= l(:field_column_names) %></td>
          <td><%= render_query_columns_selection(@query) %></td>
        </tr>
        <% else %>
          <tr>
            <td><label for='sort'><%= l(:label_sort) %></label></td>
            <td><%= select_tag('sort',
                               options_for_select(
                                 [[]] +
                                 [[l(:label_products_order_date), "order_date:desc"],
                                  [l(:label_products_status), "status_id:desc"],
                                  [l(:field_name), "name"],
                                  [l(:field_created_on), "created_at"]],
                                 params[:sort])
                       ) %></td>
          </tr>
        <% end %>
          <tr>
            <td><label for='group_by'><%= l(:field_group_by) %></label></td>
            <td><%= select_tag('group_by',
                               options_for_select(
                                 [[]] + @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},
                                 @query.group_by)
                       ) %></td>
          </tr>
      </table>
    </div>
  </fieldset>
</div>

<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
</p>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <div id="contact_list" class="product_list">
  <% if @orders.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render :partial => orders_list_style %>
  	<p class="pagination"><%= pagination_links_full @orders_pages, @orders_count %></p>
  <% end %>
  </div>

  <% other_formats_links do |f| %>
      <%= f.link_to 'CSV', :url => params %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'stat_ordered' %>
  <%= render :partial => 'recent_orders' %>
<% end %>

<%= context_menu url_for( {:controller => "orders", :action => "context_menu"} )%>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'select_list_move' %>
  <%= javascript_include_tag :contacts, :plugin => 'redmine_contacts'  %>
	<%= stylesheet_link_tag :products, :plugin => 'redmine_products' %>
	<meta name = "format-detection" content = "telephone=no">
<% end %>

