<div class="contextual">
  <%= link_to l(:label_invoice_new), {:controller => 'invoices', :action => 'new', :project_id => @project || Invoice.allowed_target_projects.first }, :class => 'icon icon-add' if User.current.allowed_to?(:edit_invoices, @project, {:global => true}) && Invoice.allowed_target_projects.any? %>
</div>

<h2><%= l(:label_invoice_plural) %></h2>

<div class="filters">
	<%= form_tag({:contoller => "invoices", :action => "index"}, :method => :get,  :id => "query_form") do %>
		<%= hidden_field_tag('project_id', @project.to_param) if @project %>
		<% no_filters = is_no_filters %>

	<fieldset id="filters" class="collapsible <%= 'collapsed' if no_filters %>">
		<legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
		<div style="<%= 'display: none;' if no_filters %>">
			<p>
        <span class="filter-condition">
					<%= label_tag l(:label_invoice_status) + " "  %>
					<%= select_tag :status_id, collection_invoice_statuses_for_filter(params[:status_id]) %>
        </span>
        <span class="filter-condition">
          <%= label_tag l(:field_invoice_date) + " "%>
  				<%= select_tag :period, options_for_period_select(params[:period]) + options_for_select([[l(:label_crm_last_year), 'last_year']], params[:period]) %>
        </span>
        <span class="filter-condition">
          <%= label_tag l(:field_invoice_due_date) + " " %>
          <%= text_field_tag :due_date, params[:due_date] %><%= calendar_for('due_date') %>
        </span>
        <span class="filter-condition">
          <%= label_tag l(:label_invoice_paid_date) + " " %>
          <%= select_tag :paid_period, options_for_period_select(params[:paid_period]) + options_for_select([[l(:label_crm_last_year), 'last_year']], params[:paid_period]) %>
        </span>
        <span class="filter-condition">
        <%= label_tag l(:label_contact) + " "  %>
        <%= select_tag :contact_id, options_for_select(invoices_contacts_for_select(@project, :limit => 500), params[:contact_id]), :include_blank => true %>
        </span>
        <% if @project %>
        <span class="filter-condition">
  				<%= label_tag l(:field_assigned_to) + " "  %>
  				<%= select_tag :assigned_to_id, options_for_select(@project.assignable_users.collect{|u| [u.name, u.id.to_s]}.insert(0, [""]),  params[:assigned_to_id]) %>
        </span>
        <% end %>
			</p>

		</div>
	</fieldset>
    <fieldset class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
      <div style="display: none;">
        <table>
          <% if invoices_list_style == 'list_excerpt' %>
          <tr>
            <td><label for='sort'><%= l(:label_sort) %></label></td>
            <td><%= select_tag('sort',
                               options_for_select(
                                 [[]] +
                                 [[l(:field_invoice_number), "#{Invoice.table_name}.number:desc"],
                                  [l(:field_invoice_status), "#{Invoice.table_name}.status_id:desc"],
                                  [l(:field_invoice_date), "invoice_date:desc"],
                                  [l(:field_updated_on), "updated_at:desc"],
                                  [l(:field_due_date), "due_date"]],
                                 params[:sort])
                       ) %></td>
          </tr>
          <% end %>
          <tr>
            <td><label for='invoices_list_style'><%= l(:label_crm_list_partial_style) %></label></td>
            <td><%= select_tag('invoices_list_style', options_for_select([[l(:label_crm_list_excerpt), "list_excerpt"], [l(:label_crm_list_list), "list"]], invoices_list_style)) %></td>
          </tr>
        </table>
      </div>
    </fieldset>
	<p class="buttons hide-when-print">
		<%= link_to l(:button_apply), "#", :onclick=>"$('#query_form').submit()", :class => 'icon icon-checked' %>
    	<%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
	</p>
	<% end %>

</div>

<div id="contact_list" class="invoice_list">
<% if @invoices.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  	<%= render :partial => invoices_list_style %>
  	<p class="pagination"><%= pagination_links_full @invoices_pages, @invoices_count %></p>
<% end %>
</div>

<% html_title l(:label_invoice_plural) %>

<%= context_menu url_for( {:controller => "invoices", :action => "context_menu"} )%>

<% content_for :sidebar do %>
  <%= render :partial => 'stat_invoiced' %>
  <%= render :partial => 'stat_status' %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag :contacts, :plugin => 'redmine_contacts'  %>
	<meta name = "format-detection" content = "telephone=no">
<% end %>

