<%= error_messages_for 'product' %>

<div class="box tabular">

<p class="avatar extended" id="watchers">
	<%= product_image_tag(@product, :size => "64", :style => "vertical-align: middle;") %>
	<%= link_to image_tag('delete.png'), attachment_path(@product.image),
                                         :confirm => l(:text_are_you_sure),
                                         :method => :delete,
                                         :class => 'delete',
										                     :style => "vertical-align: middle;",
                                         :title => l(:button_delete) unless @product.image.blank? %>
</p>
<p class="extended"><%= label_tag l(:label_products_image) %> <%= file_field_tag 'product_image[file]', :size => 30, :id => nil  -%> </p>
<p class="product-name"><%= f.text_field :name, :style => "width:98%;", :label => l(:label_products_name), :required => true %></p>
<p class="product-code"><%= f.text_field :code, :label => l(:label_products_code), :required => true %></p>
<p class="product-status"><%= f.select :status_id, collection_product_statuses, :label => l(:label_products_status), :required => true %></p>
<p class="product-price"><%= f.text_field :price, :label => l(:label_products_price), :size => 10 %>
      <%= select_tag "product[currency]", options_for_select(collection_for_currencies_select, @product.currency), :include_blank => true  %>
</p>

<% @product.custom_field_values.each do |value| %>
  <p>
    <%= custom_field_tag_with_label :product, value %>
  </p>
<% end -%>

<p><%= f.text_area :description, :cols => 60, :rows => 10, :class => 'wiki-edit' %><%= wikitoolbar_for 'product_description' %></p>

<p class="contacts-tags-edit">
   <%= f.text_field :tag_list, :size => 10, :class => 'hol', :label => l(:label_crm_tags_plural) %><%= tagsedit_with_source_for('#product_tag_list', auto_complete_taggable_tags_path(:project_id => @project, :taggable_type => "Product")) %>
</p>

</div>




