<%= form_tag({}) do -%>
	<%= hidden_field_tag 'back_url', url_for(params) %>
	<%= hidden_field_tag 'project_id', @project.id if @project %>
		<table class="contacts products index">
		<tbody>
	    <% @products.each do |product| %>
			<tr class="hascontextmenu">
				<td class="checkbox">
					<%= check_box_tag("ids[]", product.id, false, :id => nil)  %>
				</td>
				<td class="avatar">
					<%= product_image_tag(product, :size => 32) %>
				</td>
				<td class="name product-name">
						<h1 class="product-code"><%= link_to  product.name, product_path(product) %></h1>
            <div class="tags">
                <%= product_tag_links(product.tag_list) %>
            </div>
				</td>

				<td class="info product-info">
					<div class="product-sum"><strong><%= product.price_to_s  %></strong>

					</div>
					<div class="product-date" >
					</div>
				</td>
			</tr>
	    <% end %>
			<tr class="total">
				<th/>
				<th/>
 				<th class="title"> <%= "#{l(:label_total)}:" %> </th>
				<th class="sum products-sum">
				  <span style="white-space: nowrap;">
					<%=  @products_count %></span>
				</th>
			</tr>
		</tbody>
	  </table>

<% end %>


