<div class="contextual">
<%= link_to l(:label_operation_category_new), {:controller => "operation_categories", :action => 'new'}, :class => 'icon icon-add' %>
</div>

<h3><%=l(:label_operation_category_plural)%></h3>
 
<table class="list">
  <thead><tr>
  <th><%=l(:field_operation_category)%></th>
  <th><%=l(:label_operation_category_is_income)%></th>
  <th><%=l(:button_sort)%></th>
  <th></th>
  </tr></thead>
  <tbody>  
<% for category in OperationCategory.all(:order => "position")  %>
  <tr class="<%= cycle("odd", "even") %>">
  <td><%= link_to category.name, edit_operation_category_path(category) %></td>
  <td align="center" style="width:15%;"><%= checked_image category.is_income? %></td>
  <td align="center" style="width:15%;"><%= reorder_links('category', {:controller => "operation_categories", :action => 'update', :id => category}, :put) %></td>
  <td class="buttons">
    <%= delete_link operation_category_path(category) %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>


