<p>
  <label><%= l(:label_products_cross_project_contacts) %></label>
  <%= hidden_field_tag 'settings[cross_project_contacts]', 0, :id => nil %>
  <%= check_box_tag 'settings[cross_project_contacts]', 1, @settings[:cross_project_contacts].to_s == "1" %>
</p>
<p>
  <label><%= l(:label_products_select_companies) %></label>
  <%= hidden_field_tag 'settings[select_companies]', 0, :id => nil %>
  <%= check_box_tag 'settings[select_companies]', 1, @settings[:select_companies].to_s == "1" %>
</p>


<p>
  <label><%= l(:label_products_show_in_top_menu) %></label>
  <span id="watchers_inputs">
  	<span class="floating" style="margin-left: 0px;">
		<%= check_box_tag 'settings[orders_show_in_top_menu]', 1, @settings[:orders_show_in_top_menu] %>
		<%= l(:label_order_plural) %>
  	</span>
  	<span class="floating" style="margin-left: 0px;">
		<%= check_box_tag 'settings[products_show_in_top_menu]', 1, @settings[:products_show_in_top_menu] %>
		<%= l(:label_product_plural) %>
  	</span>
  </span>
</p>

<p>
  <label><%= l(:label_products_show_in_app_menu) %></label>
  <span id="watchers_inputs">
  	<span class="floating" style="margin-left: 0px;">
		<%= check_box_tag 'settings[orders_show_in_app_menu]', 1, @settings[:orders_show_in_app_menu] %>
		<%= l(:label_order_plural) %>
  	</span>
  	<span class="floating" style="margin-left: 0px;">
		<%= check_box_tag 'settings[products_show_in_app_menu]', 1, @settings[:products_show_in_app_menu] %>
		<%= l(:label_product_plural) %>
  	</span>
  </span>
</p>
