<%= error_messages_for 'account' %>

<div class="box tabular">

  <p class="name"><%= f.text_field :name, :size => 80, :required => true %></p>
  <p><%= f.select :currency, collection_for_currencies_select(RedmineFinance.settings[:finance_default_currency]), :label => l(:label_account_currency), :include_blank => false, :required => true  %>
  </p>

  <p><%= f.select :assigned_to_id, (@project.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true, :label => l(:field_assigned_to) %></p>

<p><%= f.text_area :description, :cols => 60, :rows => 5, :class => 'wiki-edit' %><%# wikitoolbar_for 'account_description' %></p>


</div>


