<h2><%= l(:label_account_edit) %></h2>

<%= labelled_form_for :account, @account, :url => {:action => 'update', :id => @account.id}, :html => { :multipart => true, :method => :put, :id => 'account_form'} do |f|  %> 
  <%= render :partial => 'form', :locals => {:f => f}  %> 
  <%= submit_tag l(:button_save) -%>
<% end -%>

<% content_for :header_tags do %>
  <%= javascript_include_tag :finance, :plugin => 'redmine_finance'  %>
  <%= stylesheet_link_tag :finance, :plugin => 'redmine_finance' %>
<% end %>
